/* ------ Mengganti warna background ------ */
body { /* menerapkan style pada tag <body> */
    background: -webkit-linear-gradient(right,#943d66, #bd2d99);
    /* background: -webkit-linear-gradient(bottom, #37daa4, #da9280, #6e0a55); mengganti warna background. -webkit-linear-gradientdisini berfungsi untuk membuat warna gradient pada browser Google Chrome. arah gradient, warna 1, warna 2 */
    background-repeat: no-repeat; /* menentukan apakah warna/gambar background perlu dilakukan perulangan. Misal menggunakan background warna hitam dan putih, maka jika dilakukan perulangan akan seperti warna Zebra. */
    background-size: cover;
 } 

 /* ------ Membuat card --------*/
 #card { /* #card berfungsi untuk menerapkan style pada elemen html yang memiliki id bernama “card” */
     background: #ffffff; /* mengganti warna background pada elemen tersebut */
     border-radius: 8px;  /* untuk menumpulkan sudut sebesar 8px, jika menggantinya dengan 0px maka akan menghasilkan sudut lancip layaknya bangun segi empat pada umumnya. */
     box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);  /* untuk membuat bayangan pada elemen. Secara urut maksud dari angka angka tersebut ialah h offsite, koordinat x, koordinat y, blur. */
     height: 450px; /* merupakan tinggi elemen tersebut. */
     margin: 6rem auto 8.1rem auto; /* besar batas pada elemen tersebut. batas atas, batas kanan, batas bawah, batas kiri. auto disini berarti besar batas akan menyesuaikan dengan sendirinya. */
     width: 529px; /* merupakan panjang elemen tersebut */
 } 

 /* ------ Memberi judul form (LOGIN) ----- */
 #card-content {
   padding: 12px 44px; /* untuk besar batas bagian dalam sebuah elemen agar tidak terlalu dekat dengan tepi card. batas atas-bawah, batas kanan-kiri.*/
 }
 #card-title {
   font-family: "Raleway Thin", sans-serif; /* menentukan font apa yang ingin kita gunakan. "Raleway Thin" (jenis font) dan sans-serif (typeface atau sejenis tipe font) */
   letter-spacing: 4px; /* besar jarak tiap huruf, semakin besar nilainya maka semakin renggang. */
   padding-bottom: 10px; /* menambah luas bagian bawah elemen. */
   padding-top: 13px; /* Menambah luas bagian atas elemen */
   text-align: center; /* Mengatur teks agar berada di posisi tengah. */
 }
 .underline-title {
   background: -webkit-linear-gradient(right, #7bf78c, #bd2d70);
   height: 2px;
   margin: -1.1rem auto 0 auto; /* untuk mengatur batas bagian luar*/
   width: 89px;
 }
    #submit-btn { /*membuat style utama pada elemen dengan id tersebut*/
    background: -webkit-linear-gradient(right, #c97897, #2e9b92);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #bb1b73;
    cursor: pointer;
    color: rgb(14, 8, 8);
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 0px;
    transition: 0.25s; /*akan terjadi transisi dengan durasi 250ms.*/
    width: 153px;
    text-align: center;
    }
    #submit-btn:hover { /*menerapkan style ketika mengarahkan cursor mouse*/
    box-shadow: 0px 1px 18px #a624c6;
    }